extends layout

block content
  p Welcome to the greatest website in the world. Why is it the greatest? It allows you to create, rename, edit and delete the most amazing lists of all time - Birthday Lists.