doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    nav(class="navbar navbar-default")
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand" href="/") B-Day List Creator
        ul(class="nav navbar-nav")
          li
            a(href="/list") Lists
          li
            a(href="/list/create") Create
          li
            a(href="/user/login") Login
          li
            a(href="/user/edit") Edit User
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.js' type='text/javascript')
    script(src='/javascripts/ViewModel.js', type='text/javascript')
    script(src='/javascripts/knockout-inline-confirm.js', type='text/javascript')
    block scripts
