extends ../layout

block content
  h1= title
  div.container
    div.form-group(data-bind="css: { 'has-success': DisplayName.isModified() && DisplayName.isValid(), 'has-error': DisplayName.isModified() && !DisplayName.isValid() }")
      label Display Name:
      input.form-control(type="text" data-bind="value: DisplayName")
    div.form-group(data-bind="css: { 'has-success': Password.isModified() && Password.isValid(), 'has-error': Password.isModified() && !Password.isValid() }")
      label Password:
      input.form-control(type="password" data-bind="value: Password")
    div.form-group(data-bind="css: { 'has-success': ConfirmPassword.isModified() && ConfirmPassword.isValid(), 'has-error': ConfirmPassword.isModified() && !ConfirmPassword.isValid() }")
      label Confirm Password:
      input.form-control(type="password" data-bind="value: ConfirmPassword")
    div.form-group
      button.btn.btn-primary(type="button" data-bind="click: $root.editUser") Submit

block scripts
  script(src='/javascripts/user/EditModel.js', type='text/javascript')
  script.
    $(document).ready(() => {
      $.getJSON( "/user/api/", ( jsonObject ) => {
        const model = new EditModel(jsonObject);
        ko.applyBindings(model);
      });
    });