extends ../layout

block content
  h1= title
  div.container
    div.form-group
      label Display Name:
      input.form-control(type="text")
    div.form-group
      label Username:
      input.form-control(type="text")
    div.form-group
      label Password:
      input.form-control(type="password")
    div.form-group
      label Confirm Password:
      input.form-control(type="password")
    div.form-group
      button.btn.btn-primary(type="button") Submit