extends ../layout

block content
  h1= title
  p Welcome to #{title}
  div(class="container")
    table(class="contactsEditor")
      tr
        th List Name
        th List Items
      tbody(data-bind="foreach: lists")
        tr
          td
            input(data-bind="value: ListName")
          td
            table
              tbody(data-bind="foreach: ListItems")
                tr
                  td
                    input(data-bind="value: Item")
                  td
                    a(href="#" data-bind="click: $root.removeItem") Delete
            a(href="#" data-bind="click: $root.addItem") Add List Item
    button(data-bind="click: put, enable: lists().length > 0") Save

block scripts
  script.
    $(document).ready(() => {
      var url = window.location.pathname;
      var id = url.substring(url.lastIndexOf('/') + 1);
      $.getJSON( "/list/api/" + id, ( data ) => {
        const model = new ViewModel(data.data);
        ko.applyBindings(model);
      });
    });