extends ../layout

block content
  h1= title
  div(class="container" data-bind="foreach: lists")
    div(class="form-inline")
      div(class="form-group col-xs-8")
        label(data-bind="text: ListName")
      div(class="form-group col-xs-2")
        a(class="btn btn-primary" href="#" data-bind="click: $root.editList") Edit
      div(class="form-group col-xs-2")
        a(class="btn btn-danger" href="#" data-bind="inlineConfirm: ['Delete', 'Are you sure?', 'Removing'], submitFunction: $root.removeList")
block scripts
  script.
    $(document).ready(() => {
      $.getJSON( "/list/api/", ( data ) => {
        const model = new ViewModel(data.data);
        ko.applyBindings(model);
      });
    });