extends ../layout

block content
  h1= title
  div(class="container" data-bind="foreach: Lists")
    div(class="form-inline")
      div(class="form-group col-xs-8")
        label(data-bind="text: ListName")
      div(class="form-group col-xs-2")
        a(class="btn btn-primary" href="#" data-bind="click: $root.editList") Edit
      div(class="form-group col-xs-2")
        a(class="btn btn-danger" href="#" data-bind="inlineConfirm: ['Delete', 'Are you sure?', 'Deleting'], submitFunction: $root.removeList")
block scripts
  script(src='/javascripts/list/AllListsModel.js', type='text/javascript')
  script.
    $(document).ready(() => {
      $.getJSON( "/list/api/", ( jsonObject ) => {
        const model = new AllListsModel(jsonObject);
        ko.applyBindings(model);
      });
    });